.card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #00000050;
  border-radius: .5rem;
  gap: 4px;
  overflow: hidden;

  & > :first-child {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 16px 32px;

    & > p {
      font-size: 28px;
      color: white;
      font-family: Oswald, sans-serif;
    }
  }

  & > :last-child {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 22px;

    & > p {
      color: white;
      font-size: 42px;
      font-weight: bolder;
      font-family: Oswald, sans-serif;
    }
  }
}
