.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.calc {
  margin: auto 0;

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #00000050;
    width: 700px;
    gap: 8px;
    margin: 50px;
    border-radius: 6px;
    padding: 2rem;

    & > * {
      width: 100%;
    }

    & > aside {
      display: flex;
      flex-direction: column;

      & > aside {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 4px;
        column-gap: 8px;
      }

      & > button {
        margin-top: 8px;
        width: 100%;
      }
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-wrap: wrap;
  width: 100%;
  padding: 16px;
  gap: 16px;

  @media only screen and (max-width: 960px) {
    grid-template-columns: 1fr 1fr;
  }

  & > div {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 240px;
    background-size: cover;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;


    &:hover {
      transform: scale(.95);
      transition: .2s;
    }

    &:not(:hover) {
      transition: .2s;
    }

    & > div {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      bottom: 0;
      background: #00000090;
      padding: 16px;

      & > :first-child {
        color: white;
        font-weight: bolder;
        font-size: 1.2rem;
        letter-spacing: .8px;
      }

      & > :last-child {
        color: lightgray;
      }
    }
  }
}

button {
  &:hover {
    opacity: .8;
  }

  &:active {
    transform: scale(.99);
  }
}