.custom-input {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: white;

  & > p {
    color: gray;
  }

  & > div > div {
    font-weight: bold;
    border: none;
  }

  & input {
    width: 100%;
    background: #00000050;
    height: 40px;
    padding: 0 16px;
  }

  & svg {
    fill: white
  }

}
